

<div class="panel panel-primary" id="loginDiv">
                <div class="panel-heading">
                    <h3 class="panel-title" style="text-align:center;">Prijava</h3>
                </div>
                <div class="panel-body">
                  <div style="text-align: center" ng-class="{'alert' : errormsg=='Pogresan username ili password', 'alert-danger' : errormsg=='Pogresan username ili password'}" text-al>{{errormsg}}</div>
                    <form>
	                    <span>Korisničko ime</span>
	                    <input id="username" type="text" ng-model="user.username">
	                    <br/>
	                    <span>Lozinka</span><input id="password" type="password" ng-model="user.password">
	                    <br/>
	                    <button id="prijava" class="btn btn-primary" ng-click="login()">Prijava</button>
                    </form>
                </div>
</div>
