<div class="col-md-6">
    <div class="page-header">
        <h4 style="text-align:center;">Kurs</h4>
    </div>
    <div id="pretragaKurseva" class="input-group">
        <input type="text" class="form-control" placeholder="Pretraga kurseva..." name="search">
        <div class="input-group-btn">
            <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
        </div>
    </div>
    <div class="row" style="margin-bottom:3%">
        <div class="col-md-6"><button class="btn btn-success" style="width:100%" id="addKursBtn">Add</button></div>
        <div class="col-md-6"><button style="width:100%" class="btn btn-danger" id="delKursBtn">Remove</button></div>
    </div>
    <div class="list-group single-select" id="predavacKurseviLista">
        <a ng-click="izborKursa(kurs.id)" ui-sref=".info" class="list-group-item" ng-repeat="kurs in kurseviSelektovanogPredmeta.kursevi">{{kurs.naziv}}</a>
    </div>
    <div id="paginacijaKurseva">
        <ul class="pagination pagination-sm">
            <li><a href="#"><span>&laquo;</span></a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#"><span>&raquo;</span></a></li>
        </ul>
    </div>
</div>
<div ui-view></div>