<div class="panel panel-primary" id="userGuiDiv">
    <div class="panel-heading" id="naslov">
       <h3 class="panel-title">Korisnički panel<button class="btn btn-warning btn-xs" ng-click="logout()" title="Odjava sa sistema" data-toggle="tooltip" data-placement="top" tooltip style="float:right"><i class="glyphicon glyphicon-log-out"></i></button></h3>
    </div>
    <div id="teacherGuiContent" class="panel-body">
        <nav class="nav nav-tabs" role="tablist">
            <li ui-sref=".nastava" role="presentation" ng-click="tabClicked = 1" ng-class="{active: tabClicked == 1}"><a href="">Nastava</a></li>
            <li ui-sref=".ocene" role="presentation" ng-click="tabClicked = 2" ng-class="{active: tabClicked == 2}"><a href="">Ocene</a></li>
        </nav>
        <div ui-view></div>
    </div>
</div>
