

<div id="userGuiContentFinansije">
    <ul class="nav nav-pills" role="tablist" style="margin-bottom:1%">
        <li role="presentation" class="active"><a href="">Sve</a></li>
        <li role="presentation"><a href="">Priliv</a></li>
        <li role="presentation"><a href="">Odliv</a></li>
    </ul>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <div class="input-group date" id="pretragaFinansijaPocetniDatum">
                    <input type="text" class="form-control" placeholder="Izaberite početni datum..."/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <script>
                $(function() {
                    $("#pretragaFinansijaPocetniDatum").datepicker();
                });
           </script>
        </div> <!-- prvi date picker-->
        <div class="col-md-4">
            <div class="form-group">
                <div class="input-group date" id="pretragaFinansijaKrajnjiDatum">
                    <input type="text" class="form-control" placeholder="Izaberite krajnji datum..."/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <script>
                $(function() {
                    $("#pretragaFinansijaKrajnjiDatum").datepicker();
                });
           </script>
        </div> <!-- drugi date picker-->
        <div class="col-md-4">
          <button class="btn btn-default" style="float:right;margin-right:33%;margin-left:3%">Poništi</button>
          <button class="btn btn-primary" ng-click="Filter()" style="float:right">Traži</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="input-group">
                <input type="number" min="0" class="form-control" ng-model="range.minPrice" placeholder="Unesite minimalni iznos...">
            </div>
        </div>
        <div class="col-md-4" style="margin-bottom:3%">
            <div style="width:80%" class="input-group">
                <input type="number" min="0" class="form-control" ng-model="range.maxPrice" placeholder="Unesite maksimalni iznos...">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>#</td>
                        <td>Datum</td>
                        <td>Iznos</td>
                        <td>Svrha</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="uplata in uplata.uplate">
                        <td></td>
                        <td>01.05.2017.</td>
                        <script>
                        </script>
                        <td>{{uplata.iznos | currency  }} RSD</td>
                        <td>
                            <span class="glyphicon glyphicon-info-sign" svrhaPopover popover-html={{svrhaUplate}}></span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div range-slider="range-slider" 
         min="sliderConfig.min" 
         max="sliderConfig.max" 
         model-min="sliderConfig.userMin" 
         model-max="sliderConfig.userMax">
    </div>
       </div>
       <div class="col-md-4 panel-group">
           <div class="panel panel-primary">
               <div class="panel-heading">
                   <h5 class="panel-title">
                       <a href="#racunInfo" data-toggle="collapse">Podaci o računu</a>
                   </h5>
               </div>
           </div>
           <div id="racunInfo" class="panel-collapse collapse">
               <ul class="list-group">
                   <div class="panel panel-default">
                       <div class="panel-heading">Stanje na računu</div>
                       <div class="panel-body"><strong>127000</strong></div>
                   </div>
                   <div class="panel panel-default" style="margin-bottom:3%">
                       <div class="panel-heading">Poziv na broj</div>
                       <div class="panel-body"><strong>127-46600271-49</strong></div>
                   </div>
                   <button style="width:100%" class="btn btn-primary">Plati</button>
               </ul>
           </div>
       </div>
        <div class="row">
            <div id="paginacijaFinansije">
                <ul class="pagination pagination-sm">
                    <li><a href=""><span>&laquo;</span></a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href=""><span>&raquo;</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>