<div id="userGuiContentStudije">
    <div id="pretragaPredmeta" class="input-group">
        <input type="text" class="form-control" placeholder="Pretraga predmeta..." name="search" ng-model="searchPretragaPredmeta.naziv">
        <div class="input-group-btn">
            <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
        </div>
    </div>
    <ul id="predmetFilteri" class="nav nav-pills" role="tablist">
        <li role="presentation" class="active"><a href="#">Svi</a></li>
        <li role="presentation" ng-click="polozeniIspit()"><a href="#">Položeni</a></li>
        <li role="presentation" ng-click="nepolozeniIspit()"><a href="#">Nepoloženi</a></li>
    </ul>
    <div id="studentStudijeDiv">
       <div ng-repeat="pohadjanje in pohadjanja | filter:{kurs:{naziv:searchPretragaPredmeta.naziv}}" class="kartica">
        <div class="{{cardClass(pohadjanje)}}">
            <div class="panel-heading">
                <h3 class="panel-title">{{pohadjanje.kurs.naziv}} <button class="btn btn-xs" data-toggle="modal" data-target="#infoKursa"><span><i class="glyphicon glyphicon-info"></i></span></button></h3>
            </div>
            <div class="panel-body">
                <div class="progress">
                    <!-- <div ng-class="chooseClass(pohadjanje)" -->
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:{{pohadjanje.polaganje.brojBodova}}%"><span>{{pohadjanje.polaganje.brojBodova}}% ispita</span>
                    </div>
                </div>
                <div class="progress">
                    <div class="{{predispitneObavezeClass(pohadjanje)}}" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:{{predispitneObavezeWidth(pohadjanje)}}%"><span>{{predispitneObavezeLabel(pohadjanje)}}</span>
                    </div>
                </div>
                <div class="progress">
                    <div class="{{kolokvijumClass(pohadjanje)}}" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:{{kolokvijumWidth(pohadjanje)}}%"><span>{{kolokvijumLabel(pohadjanje)}}</span>
                    </div>
                </div>
            </div>
           </div>
        </div>

        <!-- spam -->

    </div> <!-- studentstudijediv -->
    <div id="paginacijaStudije">
        <ul class="pagination pagination-sm">
          <li><a href=""><span>&laquo;</span></a></li>
          <li ng-class="page == 1 ? 'active' : ''" ng-repeat="page in totalPages">
              <a href="#">{{page}}</a>
          </li>
          <li><a href=""><span>&raquo;</span></a></li>
        </ul>
    </div>
</div>
<div id="infoKursa" class="modal fade" role="dialog">
      <div class="modal-dialog" style="margin-top:10%">

        <!-- Modal content-->
        <div class="panel panel-primary">
          <div class="panel panel-heading">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3 class="panel-title" style="text-align:center;">Informacije o kursu</h3>
          </div>
          <div class="panel-body">
                    <div class="row">
                        <h3 style="margin-bottom:2%">
                            <span class="label label-info">Nastavno osoblje</span>
                        </h3>
                        <div class="col-md-5">
                          <table class="table table-hover">
                            <thead>
                              <tr>
                                <th>#</th>
                                <th>Ime</th>
                                <th>Prezime</th>
                                <th>E-mail</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>{{$index+1}}</td>
                                <td>{{predavac.firstname}}</td>
                                <td>{{predavac.lastname}}</td>
                                <td><a href="mailto:{{predavac.email}}">{{predavac.email}}</a></td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        </div>
                    <div class="row">
                        <h3 style="margin-bottom:2%">
                            <span class="label label-info">Nastavne obaveze</span>
                        </h3>
                        <div class="col-md-5">
                            <table class="table table-hover">
                             <thead>
                              <tr>
                                <th>#</th>
                                <th>Naziv</th>
                                <th>Minimum</th>
                                <th>Maksimum</th>
                                <th>Bodovi</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>{{index+1}}</td>
                                <td>{{obaveza.nazivObaveze}}</td>
                                <td>{{obaveza.minBodova}}</td>
                                <td>{{obaveza.maxBodova}}</td>
                                <td><strong>{{obaveza.brojBodova}}</strong></td>
                              </tr>
                              <tr>
                                  <td colspan=4>Ukupno</td>
                                  <td><strong>59</strong></td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        </div>

          <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Nazad</button>
          </div>
        </div>

      </div>
</div>