<div class="panel panel-primary" id="userGuiDiv">

    <div class="panel-heading" id="naslov">
        <h3 class="panel-title">Korisnički panel<button class="btn btn-warning btn-xs" ng-click="logout()" title="Odjava sa sistema" data-toggle="tooltip" data-placement="top" tooltip style="float:right"><i class="glyphicon glyphicon-log-out"></i></button></h3>
    </div>
    <div id="userGuiContent" class="panel-body">
        <nav class="nav nav-tabs" role="tablist">
            <li role="presentation" ng-click="tabClicked = 1" ng-class="{active: tabClicked == 1}"><a ui-sref=".studije">Studije</a></li>
            <li role="presentation" ng-click="tabClicked = 2" ng-class="{active: tabClicked == 2}"><a ui-sref=".finansije">Finansije</a></li>
            <li role="presentation" ng-click="tabClicked = 3" ng-class="{active: tabClicked == 3}"><a ui-sref=".profil">Profil</a></li>
        </nav>
        <div ui-view></div>
    </div>
</div>
